.home{
    width: 200px;
    background-color: bisque;
    overflow: hidden;
    margin: 15px;
    padding: 50px;
    box-sizing: content-box;
    border: 20px solid #cecece;
    border-radius: 70% 70% 10% 10%;
    position: static;
}
.home1{
    width: 200px;
    background-color: bisque;
    overflow: hidden;
    margin: 15px;
    padding: 50px;
    box-sizing: content-box;
    border: 20px solid #cecece;
    border-radius: 70% 70% 10% 10%;
    position: relative;
    
}


.home4{
    width: 100px;
    background-color: bisque;
    overflow: hidden;
    margin: 15px;
    padding: 50px;
    box-sizing: content-box;
    border: 20px solid #cecece;
    border-radius: 70% 70% 10% 10%;
    position: sticky;
    top:0;
    z-index: 1;
}
.home3{
    width: 100px;
    height: 100px;
    background-color: bisque;
    overflow: hidden;
    margin: 15px;
    padding: 50px;
    box-sizing: content-box;
    border: 20px solid #cecece;
    border-radius: 70% 70% 10% 10%;
    position: fixed;
    z-index: 2;
    
    
}
.home2{
    width: 100px;
    height: 100px;
    background-color: bisque;
    overflow: hidden;
    margin: 15px;
    padding: 50px;
    box-sizing: content-box;
    border: 20px solid #cecece;
    border-radius: 70% 70% 10% 10%;
    position: absolute;
    bottom: -161px;
    
}








